<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Interview Preparation">
	<listeners>
		<listener class-name="INTERVIEW_JAVA.ActionListener"></listener>
	</listeners> 
  <test name="Selenium Practice Basics">
    <classes >
      <class name="INTERVIEW_JAVA.ToReadExcelData" />
       
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
